<!-- <div class="nav-bar">
    <a href="/">SwingBook</a>
    <div class="buttons">
</div> -->

<link rel="stylesheet" href="/app/components/navbar/navbar.css">

<div class="nav-wrap">
<nav style="border-radius: 0px;" class="navbar navbar-inverse navbar-embossed" role="navigation">
  <a class="navbar-brand" href="/home">Swingbook</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dj">Swing DJ</a>
    </li>
    <li class="nav-item" id="signOut">
      <!-- <a class="nav-link" href="/signout">Sign out</a> -->
      <a class="nav-link" href="/login">Log in</a>
    </li>
  </ul>

</nav>
</div>

<!-- <div class="_nav">
  <a href="/">
    <div class="logo-wrap"></div>
  </a>
  <div class="menu-button" ng-click="toggleOpen()";>
    <div class="hamburger line-1"></div>
    <div class="hamburger line-2"></div>
    <div class="hamburger line-4"></div>
  </div>
</div>
<div class="_nav-overlay" ng-if="isOpen">
  <div class="inner">
    <div class="close">
      <div class="close-icon" ng-click="toggleOpen();"></div>
    </div>
    <div class="item" ng-repeat="item in items | orderBy:'-'" ng-show="item.on" style="animation-delay:{{$index*50}}ms">
      <div ng-click="goTo(item.link)" class="ns item-block clickable button-{{item.link}}">
        {{item.name}}
      </div>
    </div>
  </div>
</div> -->
