<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Loading Bootstrap -->
    <link href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/flat-ui.css'/>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88918317-1', 'auto');
      ga('send', 'pageview');
  </script>
  </head>
  <body>
    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/javascripts/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <div class="nav-wrap">
    <nav style="border-radius: 0px;" class="navbar navbar-inverse navbar-embossed" role="navigation">
      <a class="navbar-brand" href="/home">Swingbook</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dj">Swing DJ</a>
        </li>
        <li class="nav-item" id="signOut">
          {{#if loggedIn}}
          <a class="nav-link" href="/signout">Sign out</a>
          {{else}}
          <a class="nav-link" href="/">Log in</a>
          {{/if}}
        </li>
      </ul>

    </nav>
    </div>
    {{{body}}}

    <script src="/javascripts/vendor/video.js"></script>
    <script src="/javascripts/flat-ui.min.js"></script>
  </body>
</html>
