<script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>

<h1>Home Page</h1>
<h3>Welcome, {{user.username}}</h3>
<p>{{user}}</p>

<a href="/events">View All Events</a><br>

<a href="/events/create">Create a new event</a>

<form action="/signout">
	<input type="submit" value="Log Out">
</form>