<h1>Registration</h1>
<p>Message: {{message}}</p>
<h2>Create an account</h2>
<form method="POST" action="">
	First Name: <input type="text" name="firstName" required></br>
	Last Name: <input type="text" name="lastName" required></br>
	Username: <input type="text" name="username" placeholder="username" required><br>
	Password: <input type="password" name="password" placeholder="password" required><br>
	<input type="submit" value="Register">
</form>