<h1>Registration</h1>
<p>Message: {{message}}</p>
<h2>Create an account</h2>
<form method="POST" action="">
	Username: <input type="text" name="username" placeholder="username"><br>
	Password: <input type="password" name="password" placeholder="password"><br>
	<input type="submit" value="Register">
</form>